<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Sunporch">
      {assigns[:page_title]}
    </.live_title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lora:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet" />
    <link rel="icon" type="image/svg+xml" href={~p"/images/logo.svg"} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href={~p"/assets/css/sunporch.css"} />
    <script defer src={~p"/assets/js/app.js"}></script>
  </head>
  <body>
    {# Flash messages}
    <div :if={Phoenix.Flash.get(@flash, :info)} class="alert alert-info">
      {Phoenix.Flash.get(@flash, :info)}
    </div>
    <div :if={Phoenix.Flash.get(@flash, :error)} class="alert alert-error">
      {Phoenix.Flash.get(@flash, :error)}
    </div>
    {@inner_content}
    <div id="sp-chat-root"></div>
    <script :if={assigns[:current_user]}
      data-user-id={assigns[:current_user].id}
      data-socket-token={Phoenix.Token.sign(SunporchWeb.Endpoint, "user socket", assigns[:current_user].id)}
      id="sp-chat-config"
    >
    </script>
  </body>
</html>
